
.central-element h1 {
  color: #e5e5e5; 
  text-align: center;
  padding-top: 10%;
}

.central-element p {
  color: #e5e5e5; 
  text-align: center;
}
.central-element h4 {
  color: #e5e5e5; 
  text-align: center;
}

.central-element h1 {
  font-size: 5rem;
  animation: glowText 1s ease-in-out infinite alternate;
}

.central-element p {
  font-size: 1.5rem;
  animation: glowText 1s ease-in-out infinite alternate;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  animation: glowBox 1s ease-in-out infinite alternate;
}

@keyframes glowText {
  from {
    text-shadow: 0 0 0 white;
  }
  to {
    text-shadow: 0 0 1.5px white;
  }
}

@keyframes glowBox {
  from {
    box-shadow: 0 0 0 white; 
  }
  to {
    box-shadow: 0 0 5px white;
  }
}





